/* .browse-container {
  margin: 2rem;
} */

/* .mini-article-container {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  background: lavender;
  padding: 1rem;
  border-radius: 4px;
}

.mini-image-container {
  width: 125px;
  height: 93px;
}

.mini-image-container > img {
  width: 100%;
  height: 100%;
  float: left;
  margin-right: 1rem;
}

.mini-title {
  font-size: 1.4rem;
  font-weight: 700;
  align-self: center;
  margin-left: 2rem;
}

.mini-title > a:link,
.mini-title > a:visited {
  text-decoration: none;
  color: #235c56;
}

@media screen and (max-width: 400px) {
  .mini-title {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .mini-article-container {
    display: block;
    text-align: -webkit-center;
  }
}

@media screen and (max-width: 650px) {
  .mini-title {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .mini-article-container {
    display: block;
    text-align: -webkit-center;
  }

  .mini-image-container {
    width: 230px;
    height: 172px;
  }
}

.mini-desc-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .mini-desc-container {
    display: flex;
    width: 280px;
    height: 95px;
    overflow: hidden;
    color: #373737;
  }

  .mini-desc {
    width: 100%;
    color: #373737;
  }

  .browse-container {
    width: 90%;
  }

  .mini-article-container {
    justify-content: space-between;
  }
} */

.browse-container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mini-article-container {
  text-align: -webkit-center;
  background: #cadecb;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
}

.mini-image-container {
  /* width: 250px;
  height: 186px; */
  width: 239px;
  height: 150px;
}

a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mini-title-container {
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 223px;
}

.mini-title {
  width: 100%;
}

.mini-title > a {
  text-decoration: none;
  color: #235c56;
  font-weight: 700;
}

.mini-desc-container {
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 240px;
  text-align: left;
}

.mini-desc {
  margin-top: 8px;
  font-family: system-ui;
  color: #274141;
  line-height: 1rem;
}
