.browse-container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mini-article-container {
  text-align: -webkit-center;
  background: #cadecb;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 4px;
}

.mini-image-container {
  width: 257px;
  height: 161px;
}

a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mini-title-container {
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 223px;
}

.mini-title {
  width: 100%;
  display: flex;
}

.mini-title > a {
  text-decoration: none;
  color: #235c56;
  font-weight: 700;
  margin-right: 0.4rem;
}

.t-w {
  color: purple;
  font-size: 12px;
  font-weight: 700;
}

.mini-desc-container {
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 240px;
  text-align: left;
}

.mini-desc {
  margin-top: 8px;
  font-family: system-ui;
  color: #274141;
  line-height: 1rem;
}
