.contact-container {
  width: 100%;
}

.contact-title {
  margin: 4rem 4rem 1rem 4rem;
  color: #235c56;
  font-weight: 100;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-email,
.contact-email:focus {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-indent: 0.3rem;
  width: 80%;
}

.contact-text,
.contact-text:focus {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  resize: none;
  text-indent: 0.3rem;
  height: 200px;
  width: 80%;
}

.contact-send {
  padding: 0.3rem 1rem;
  border-radius: 3px;
  border: none;
  background: #235c56;
  color: white;
  font-family: unset;
  font-size: 1.3rem;
  width: 80%;
}

.contact-send:hover {
  transition: all 0.2s ease-in-out;
  opacity: 0.9;
}
