.article-header__header-section {
  height: 3rem;
  background: #235c56;
  display: flex;
  border-radius: 6px 0 0 0;
}

.article-header {
  width: 100%;
  background: #235c56;
  border-radius: 6px 0 0 0;
}

.bumper-sticker-container {
  display: flex;
  margin-left: 4rem;
  margin-top: 1rem;
}

.bumper-sticker {
  padding: 7px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
}

.bumper-sticker:active {
  text-decoration: none;
}

.bumper-sticker:disabled {
  color: rgb(0, 136, 255);
}

.bumper-sticker__count {
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  font-family: Spartan;
}

.article-title {
  margin: 1rem 2rem 0 2rem;
  border-bottom: 1px solid lightgray;
  color: #235c56;
}

.trigger {
  color: purple;
  margin-bottom: 1rem;
}

.article-content {
  margin-left: 2rem;
  margin-right: 2rem;
  color: #274141;
  font-family: system-ui;
}

.article-content__section-one {
  margin-top: 1rem;
  margin-bottom: 2rem;
  white-space: break-spaces;
}

.section-one__image {
  float: right;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 43%;
  border-radius: 10px 10px 10px 10px;
}

.section-one__image > img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  max-height: 300px;
  object-fit: cover;
}

.image-subheading-container-one {
  display: flex;
  align-self: center;
  font-size: 0.8rem;
  background: rgb(128, 128, 128, 0.3);
  padding: 0.6rem;
  margin-bottom: 0.2rem;
  border-radius: 0 0 10px 10px;
}

.image-subheading-container-two {
  display: flex;
  align-self: center;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 0.8rem;
  justify-content: flex-end;
  padding: 0.3rem 1.3rem 0 1rem;
}

.image-subheading-container-two > p > a {
  text-decoration: none;
  color: #235c56;
}

.article-content__section-one > p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.article-content__section-two {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.article-content__section-two > h2 {
  margin-bottom: 1rem;
}

.article-content__section-two > img {
  width: 30%;
  float: left;
  outline: 0.4rem solid rgb(128, 128, 128, 0.4);
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.article-content__section-two > p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

@media screen and (max-width: 425px) {
  .section-one__image {
    width: 100%;
  }
  .article-content__section-two > img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .bumper-sticker-container {
    display: none;
  }
}
