/* .home-container {
} */

.welcome-banner {
  display: flex;
  background: #235c56;
  border-radius: 4px 0 0 0;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.welcome-title {
  display: flex;
  font-size: 4rem;
  font-family: "Spartan", sans-serif;
  font-weight: 100;
  margin-top: 5rem;
  color: white;
  cursor: pointer;
}

.welcome-title > a {
  color: white;
  text-decoration: none;
}

.welcome-subtitle {
  display: flex;
  font-size: 0.6rem;
  font-family: "Spartan", sans-serif;
  color: white;
  margin-left: 22rem;
}

@media screen and (max-width: 425px) {
  .welcome-subtitle {
    margin-left: 0;
  }

  .welcome-title > a {
    font-size: 3rem;
  }
}

.section-one {
  display: flex;
  border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 600px) {
  .section-one {
    flex-wrap: wrap;
  }
}

.latest-container {
  margin: 2rem;
  text-indent: 0.3rem;
}

.latest-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(49, 47, 47);
  margin-bottom: 0.5rem;
  background: #f1cfa3;
}

.latest-content {
  font-size: 1.1rem;
}

.latest-content > a:link,
.latest-content > a:visited {
  text-decoration: none;
  color: black;
}

.latest-content:nth-child(even) {
  background: #cadecb;
}

.section-three {
  display: flex;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
