.featured-container {
  margin: 2rem 2rem 0 2rem;
  height: 341px;
  line-height: 22px;
}

.featured-content {
  /* height: 276px;
  overflow: hidden; */
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  font-family: system-ui;
  color: #274141;
  min-width: 248px;
}

.featured-heading {
  margin-bottom: 0.5rem;
  background: bisque;
}

.featured-title {
  margin-bottom: 0.5rem;
}

.featured-title > a:link,
.featured-title > a:visited {
  color: #235c56;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.featured-title > a:active {
  text-decoration: underline;
}

.featured-content > img {
  width: 9rem;
  height: 9rem;
  float: left;
  margin-right: 1rem;
  object-fit: cover;
}

.featured-content > p {
  font-size: 1.1rem;
}

.featured-more {
  text-decoration: none;
  color: #235c56;
}

.featured-more:hover {
  text-decoration: underline;
}
