.article-data-result {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 0.2rem;
  width: 260px;
  height: 208px;
  overflow: scroll;
  overflow-y: auto;
}

.article-data-result::-webkit-scrollbar {
  display: none;
}

.tag-data-result {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: 208px;
  overflow-y: auto;
}

.tag-data-result::-webkit-scrollbar {
  display: none;
}

.article-search-input > input {
  font-size: 1.3rem;
  border-radius: 4px 4px 0 0;
  border: none;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-indent: 5px;
}

.article-search-input > input:focus {
  outline: none;
}

.tag-search-input {
  display: flex;
  justify-content: center;
}

.tag-search-input > input {
  font-size: 1.3rem;
  border: 1px solid #cadecb;
  width: 100%;
  margin: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  text-indent: 5px;
}

.tag-search-input > input:focus {
  outline: none;
}

.tag-search-link {
  background: white;
  text-decoration: none;
  border-bottom: 1px solid #cadecb;
  color: rgb(54, 54, 54);
  line-height: 2rem;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.article-search-link {
  background: white;
  text-decoration: none;
  color: rgb(54, 54, 54);
  line-height: 2rem;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.tag-search-link > a:visited {
  color: rgb(54, 54, 54);
}

.article-search-link > a:visited {
  color: rgb(54, 54, 54);
}

.tag-search-link:hover {
  background: #cadecb;
  transition: all 0.2s ease-in;
}

.article-search-link:hover {
  background: rgb(209, 209, 209);
  transition: all 0.1s ease-in-out;
}
