.sidebar-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  border-left: 1px solid lightgray;
  flex: 1;
}

.sidebar-title {
  margin-top: 6rem;
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: center;
}

.sidebar-content {
  font-size: 1.2rem;
  margin: 1rem;
  /* list-style-type: "?";
  text-indent: 0.6rem; */
  display: flex;
  flex-direction: column;
}

.sidebar-content > a,
.sidebar-content > a:visited {
  text-decoration: none;
  color: rgb(49, 47, 47);
}

.sidebar-content > a:nth-child(odd) {
  background: #cadecb;
}

.sidebar-content > a:hover {
  font-size: 1.5rem;
  transition: font-size 0.2s ease;
}
