/* .home-container {
} */

.welcome-container {
  display: flex;
  background: #235c56;
  border-radius: 4px 0 0 0;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.welcome-title {
  display: flex;
  font-size: 4rem;
  font-family: "Spartan", sans-serif;
  font-weight: 100;
  margin-top: 5rem;
  color: white;
}

.welcome-subtitle {
  display: flex;
  font-size: 0.6rem;
  font-family: "Spartan", sans-serif;
  color: white;
  margin-left: 22rem;
}

@media screen and (max-width: 425px) {
  .welcome-subtitle {
    margin-left: 0;
  }
}

.section-one {
  display: flex;
  border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 600px) {
  .section-one {
    flex-wrap: wrap;
  }
}

.section-three {
  display: flex;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
