.latest-container {
  margin: 2rem;
}

.latest-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(49, 47, 47);
  margin-bottom: 0.5rem;
  background: #f1cfa3;
}

.latest-content {
  font-size: 1.1rem;
}

.latest-content > p:nth-child(odd) {
  background: #cadecb;
}
