@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;300&display=swap");

.nav-container {
  font-family: "Spartan", sans-serif;
  display: flex;
  justify-content: space-around;
  background: #235c56;
  height: 3.4rem;
  overflow: hidden;
}

.nav-left {
  display: flex;
  width: 400px;
  justify-content: space-between;
  height: 100%;
  font-size: 1.4rem;
  align-items: center;
}

.nav-logo {
  display: flex;
}

.nav-logo__img {
  text-decoration: none;
  width: 30px;
  height: 30px;
  background: #235c56;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  color: gainsboro;
}

.nav-logo__title {
  text-decoration: none;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-link__burgered {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(255 239 239);
  padding: 10px;
  background: #403e41;
}

.nav-link__burgered:hover {
  background: #ddd;
  color: black;
}

.nav-right {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.nav-menu {
  width: 30px;
  color: white;
  display: none;
  padding: 5px;
  cursor: pointer;
}

.nav-menu:hover {
  color: #403e41;
  transition: all 0.2s ease;
}

.dropdown-open {
  display: flex;
  flex-direction: column;
}

.dropdown-closed {
  display: none;
}

.nav-link > img {
  width: 2rem;
  margin-top: 0.4rem;
}

@media screen and (max-width: 800px) {
  .nav-menu {
    display: flex;
  }

  .nav-link {
    display: none;
  }

  .nav-search {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .dropdown-open {
    display: none;
  }
}
